<!DOCTYPE html>
<html>
<head>
<title>Emotion Detector</title>
</head>

<body>

<h2>Emotion Detection</h2>

<input id="textToAnalyze" type="text" placeholder="Enter text">
<button onclick="analyze()">Analyze Emotion</button>

<p id="result"></p>

<script>
function analyze() {

let text = document.getElementById("textToAnalyze").value

fetch("/emotionDetector?textToAnalyze=" + text)
.then(response => response.text())
.then(data => {
document.getElementById("result").innerText = data
})

}
</script>

</body>
</html>